.light-icons a{
    color:gray!important;

}
.light-icons a:hover {
    color: white !important
}
.right-nav {
    position:fixed;
    top: 40%;
    right: 5px;
    font-size:1.2em;
    color:#363636
}
.playlist-tags {
    color: cornflowerblue;
}

    .playlist-tags:not(:last-child)::after {
        content: ' / ';
        color: black
    }

 .text-small{
     font-size:.8em
 }

 .visible-symbol{
     right:1rem;
     top:-0.6rem;
     width:2rem;
     height:2rem;font-size:.5rem
     
 }
