
 @if (Href == null)
 {
     <div @onclick="OnClickAsync"  @onclick:stopPropagation>
    
         @ChildContent
     </div>

 }
 else
 {
     <a href="javascript:;" @onclick="OnHrefClickAsync" @onclick:stopPropagation>@ChildContent</a>
 }