@inherits RazorComponentBase
@implements IDisposable
<div class="position-fixed w-100 h-100 mask @(_fullScreenToolTip.layoutShow?"visible":"invisible") " >
    <div class="vw-100 vh-100 d-flex align-items-center justify-content-center">
        <div class="text-white bg-dark p-2 @(_fullScreenToolTip.show?"show-css":"hidden-css")">正在播放-@_fullScreenToolTip.msg</div>
    </div>
</div>
 
