.text-10rem{
    width:10rem;
}

.identity-icon-url {
    position: absolute;
    left: 2rem;
    top: 2.2rem;
}
.play-count {
    position: absolute;
    z-index: 22;
    text-align: right;
    top: 1.5em;
    right: 1.5em;
}
.txt-pre-line {
    white-space: pre-line
}
    .multi-line-truncate {
        -webkit-line-clamp: 4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}